import App
import MissionLib
import Custom.QuickBattleGame.plugin

# Size and position of the big panel in the QBR GUI
DETAILPANEL_X=0.225
DETAILPANEL_Y=0.075
DETAILPANEL_W=0.65
DETAILPANEL_H=0.825

def Initialize(pMission):
	pass

def Restart():
	pass
	
def Terminate():
	pass

def Version():
	return ""
			
